body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0d1317;
}

#root { 
  background-color: #0d1317;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
}

.header-logo {
  width: 40px
}

.header-container {

  height: 10vh;
  /* background-color: #4A6C6F; */
  color: black;
  margin-top: 2%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.header-second-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10%;
  width: 50vw;
}

img.image {
  width: 10vw;
}

.footer-container {
  width: 80%;
  height: 10vh;
  /* background-color: #4A6C6F; */
  position: absolute;
  margin-top: 5%;
  color: black;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footer-content-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: red; */
  /* align-items: center; */
  /* column-gap: 10%; */
  width: 80%;
}

.demo-image {

  width: 50;
  height: 50;

}

.reubeen-half {
  margin-left: 5vw;
  width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: ; */
}

.footer-content-row>p {
  opacity: 0.75;
  font-style: italic;
}

.content-container {
  /* background-color: #AA5042; */
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
}

.footer-divider {
  /* {{width:'80%', border: '1px solid rgba(0, 0, 0, 0.39)'}} */
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.39);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  /* [class*="col-"] {
    width: 100%;
  } */

  .content-container {
    margin-right: 5%;
    margin-left: 5%;
  }

  img.image {
    width: 60vw;
  }

  .footer-content-row {
    width: 90%;
  }

  .footer-divider {

    width: 95%
  }

  .footer-container {

    width: 95%;
    margin-left: 5%;
  }

  .header-container {
    margin-left: 5%;
  }

  .header-second-row {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* column-gap: 10%; */
    /* width: 100%; */
  }

}

.reubeen-header {

  height: 5vh;
  background-color: #071e26;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  padding-right: 50%;
  color: #c2e6fc;
  font-size: larger;


}

.reubeen-header a {
  color: #c2e6fc;
  text-decoration: none;
  opacity: 0.75;
}

.reubeen-header a:hover {
  color: #c2e6fc;
  opacity: 1;
}


.reubeen-background {
  background-color: #0d1317;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  /* overflow-y: hidden; */
}

.text-med {
  font-size: 20px;
}

.text-large {
  font-size: 23px;
}

.idle-logo {

  aspect-ratio: 1;
  max-width: 300px;
  max-height: 300px;

}


/* Slideshow */

/* .slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 400px;
  min-height: 1000px;
  flex-direction: row;
} */

.slideshow {
  /* background-color: #6a0dad; */
  margin: 0 auto;
  overflow: hidden;
  /* max-width: 400px; */
  max-width: 50%;
  /* width: auto; */
  /* max-height: 1000px; */
  /* max-height: 40%; */
  flex-direction: row;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  width: 300px;
  flex: 1;
  display: flex;
  justify-content: center;
}

.apple {
  height: auto;
  width: 264px;
}

.google {
  width: 300px;
  height: auto;

}



/* .button-container a {
  width: 100%;
} */

/* .store-button {
  display: flex;
  flex: 1;
  width: '100%';
  height: 120px;
}

/* Resize images */
/* .store-button img {
  width: 100%;
  height: auto;
} */

/* */


@media only screen and (max-width: 768px) {

  .reubeen-half {

    margin: 0;
    width: 100%;

  }

  .slideshow-container {
    display: none;
  }

  .reubeen-background {
    justify-content: center;
  }

  .idle-logo {
    aspect-ratio: 1;
    max-width: 150px;
    max-height: 150px;
  }

  .text-med {
    /* font-size: 40px; */
    text-align: center;
    font-size: 16px;
    margin-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    /* width: 80%; */
  }





  .text-large {
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .reubeen-header {
    padding-right: 0%;
  }

  .reubeen-header a {
    font-size: 16px;
  }

  .link {
    width: 200px;
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .apple {
    height: auto;
    width: 176px;
  }
  
  .google {
    width: 200px;
    height: auto;
  
  }

}